<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <a
        class="btn btn-primary"
        style="margin-bottom: 10px; margin-top: 10px; color: azure"
        th:href="@{/region/form}"
        >CREATE NEW TABLE</a
      >
      <table class="table">
        <tr>
          <th>ID</th>
          <th>NAME</th>
          <th>ACTION</th>
        </tr>
        <tbody>
          <!-- foreach (penampung : sumber) -->
          <tr th:each="region : ${a}">
            <td th:text="${region.Id}"></td>
            <td th:text="${region.Name}"></td>
            <td>
              <button>
                <a
                  th:href="@{region/form/{Id} (Id = ${region.Id})}"
                  class="btn btn-warning"
                  >Edit</a
                >
              </button>
            </td>
            <td>
              <form
                th:action="@{region/delete/{id} (id = ${region.Id})}"
                method="post"
              >
                <input type="submit" value="Delete" class="btn btn-danger" />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </body>
</html>
